* {
    box-sizing: border-box;
}

body {
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


header {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

#brand {
    flex: 50%;
    min-width: 421px;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    color: #9029BA;
    text-decoration: none;
}

#search-box {
    background: linear-gradient(#E4F2B9, #B7E953);
    background: -webkit-linear-gradient(#E4F2B9, #B7E953);
    background: -o-linear-gradient(#E4F2B9, #B7E953);
    background: -moz-linear-gradient(#E4F2B9, #B7E953);
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text {
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    background: white url(../assets/search.png) right center no-repeat;
    border: 1px solid #C8D03E;
}

.submit {
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #B45CDA;
    font-size: 15px;
    border: 1px inset #D6CCBB;
}

.clear {
    clear: both;
}

#menu {
    background: linear-gradient(#FDF392, #E0D339);
    background: -webkit-linear-gradient(#FDF392, #E0D339);
    background: -moz-linear-gradient(#FDF392, #E0D339);
    background: -o-linear-gradient(#FDF392, #E0D339);
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

#menu a {
    padding: 0 30px;
    border-right: 1.5px solid #5D12E7;
    font-size: 17px;
    text-decoration: none;
    color: #5D12E7;
    line-height: 30px;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

#menu a:last-child {
    border-right: none;
}

#menu a:hover, #menu a.active {
    font-weight: bold;
    color: #C522D6;
    font-size: 19px;
}

#introduction {
    background: linear-gradient(#E4EEB7, #B0DD4C);
    background: -webkit-linear-gradient(#E4EEB7, #B0DD4C);
    background: -moz-linear-gradient(#E4EEB7, #B0DD4C);
    background: -o-linear-gradient(#E4EEB7, #B0DD4C);
    padding: 30px;
    margin: 15px 0;
}

#introduction h3 {
    font-size: 45px;
    color: #2C5C00;
    font-weight: normal;
}

#introduction p {
    font-size: 25px;
    color: #62840C;
    text-align: justify;
}

.sidebar-group {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    border: 1.5px solid #D1F2A7;
    border-radius: 17px;
    padding: 10px 30px;
    flex: 1;
    margin-bottom: 10px;
}

.sidebar h3 {
    color: #BE30D9;
    font-size: 25px;
}

.sidebar ul {
    padding-top: 8px;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #5D12E7;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
}

.sidebar ul li a:hover, .sidebar ul li a:active {
    text-decoration: none;
    font-weight: bold;
    color: #C522D6;
    font-size: 22px;
}

#left-sidebar {
    margin-right: 10px;
}

#left-sidebar ul li {
    padding: 5px 0 5px 10px;
    list-style-image: url(../assets/arrow.png);
}

#right-sidebar {
    margin-left: 10px;
}

#right-sidebar ul li {
    padding: 21.5px 0 21.5px 65px;
    background: url(../assets/checkmark.png) no-repeat left center;
    list-style: none;
}

.footer {
    height: 60px;
    background: linear-gradient(#FDF392, #E0D339);
    background: -webkit-linear-gradient(#FDF392, #E0D339);
    background: -moz-linear-gradient(#FDF392, #E0D339);
    background: -o-linear-gradient(#FDF392, #E0D339);
    padding: 10px 30px;
    margin-top: auto;
}

/* small screens: vertical menu*/
@media screen and (max-width: 700px) {
    #menu {
        flex-direction: column;
        align-content: center;
    }

    #menu a {
        border-right: none;
    }

    .sidebar-group{
        flex-direction: column;
    }

    #left-sidebar {
        margin-right: 0;
        padding: none;
        margin-right: 0;
    }
    
    #right-sidebar {
        margin-left: 0;
        padding: none;
        margin-left: 0;
    }
}